@import '../../../brand-styles';

.Button {
  padding: 10px 10px;
  border: 2px solid $natera-grey;
  color: $natera-grey;
  background-color: transparent;
  letter-spacing: 1.2px;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;
  fill: $natera-grey;
  @include standardTransition;
  @include subtitle;

  &:hover {
    color: $natera-blue;
    border: 2px solid $natera-hover-border-color;
    fill: $natera-blue;
  }

  &:focus {
    outline: none;
  }

}

.Arrow {
  width: 40px;
  height: 40px;
}

.Text {
  padding: 10px 67px;
}

.ArrowWithTextContent {
  display: flex;
  justify-content: space-between;
}

