@import '../../../fonts';
@import '../../../brand-styles';

.Interview {
  margin-top: 100px;
  padding: 0 11px;
  z-index: 1;
  @include standardTransition(2s);
  display: flex;
  justify-content: flex-start;

  @media (min-width: 1200px) {
    display: block;
  }

  @media (min-width: 1200px) {
    margin-left: 50px;
    margin-top: -140px;
  }

  @media (min-width: 1400px) {
    margin-left: 125px;
  }

  .InterviewImageContainer {
    height: 258px;

    .InterviewImage {
      height: 258px;
      width: 388px;

      box-shadow: 0 2px 40px rgba(0, 0, 0, 0.47);

      @media (min-width: 1200px) {
        float: right;
      }
    }
  }

  .InterviewContent {
    margin-left: 40px;

    @media (min-width: 1200px) {
      margin-left: 0;
    }

    .InterviewTitle {
      margin: 42px 30px 48px 0;

      @media (min-width: 1200px) {
        display: flex;
        justify-content: flex-end;
      }

      .TitleContent {
        width: 200px;
        @include title;
        @media (min-width: 1200px) {
          text-align: right;
        }
      }
    }

    .InterviewText {
      max-width: 336px;

      @include text;
      margin-right: 30px;

      @media (min-width: 1200px) {
        text-align: right;
        float: right;
      }
    }
  }


}
