@import '../../../fonts';
@import '../../../brand-styles';

.Interview {
  min-width: 512px;
  margin-top: -140px;
  padding: 0 11px;
  z-index: 1;
  @include standardTransition(1s);

  .InterviewImage {
    height: 258px;

    img {
      float: right;
    }
  }

  .InterviewTitle {
    text-align: right;
    text-transform: uppercase;
    font-family: $gotham-cyrillic-regular;
    color: $natera-black;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 42px 30px 48px 0;
  }

  .InterviewText {
    max-width: 336px;
    text-align: right;
    float: right;
    font-family: $gotham-cyrillic-regular;
    color: $natera-black;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-right: 30px;
  }
}
