@import '../../../brand-styles';

.FloatingImageContainer {
  overflow: hidden;
}

.FloatingImage {
  cursor: pointer;
  @include standardTransition;

  @media (hover) {
    &:hover {
      transform: scale(1.02);
    }
  }
}
