@import '../../fonts';
@import '../../brand-styles';

.ShowBiz {
  margin: 60px 20px 0 20px;
  height: 621px;
  display: flex;
  justify-content: space-between;

  .ShowBizBackground {
    position: absolute;
    height: 621px;
    width: 1426px;
    background-color: $natera-background-color;
    @include standardTransition;
  }

  .EditorialChoice {
    width: 500px;
    text-align: center;
    text-transform: uppercase;
    font-family: $gotham-cyrillic-regular;
    color: $natera-black;
    font-weight: 700;
    font-size: 16px;
    z-index: 1;

    .EditorialChoiceText {
      margin-top: 70px;
      line-height: 24px;
      @include standardTransition;

      @media (hover) {
        &:hover {
          color: $natera-blue;
          cursor: pointer;
        }
      }
    }

    .EditorialChoiceMainText {
      font-size: 44px;
    }

    .EditorialChoiceMainTextFirst {
      margin-top: 75px;
    }

    .EditorialChoiceName {
      margin-top: 20px;
      color: $natera-grey-author;
      font-weight: 400;
      line-height: 24px;
    }

    .EditorialChoiceButton {
      margin-top: 50px;
      @include standardTransition;
    }
  }

  .SingerImage {
    margin-top: -50px;
    z-index: 1;
  }

  .ShowBizText {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 100px;
    z-index: 1;

    .ShowBizLineContainer {

      .ShowBizLine {
        width: 2px;
        height: 265px;
        background-color: $natera-line-color;
        opacity: 0.5;
        margin-left: 50px;
      }
    }

    .RotatedTextContainer {
      height: 100px;
      padding-top: 130px;
    }

    .RotatedText {
      transform: rotate(-90deg);
      font-family: $gotham-cyrillic-regular;
      color: $natera-black;
      opacity: 0.5;
      font-size: 48px;
      font-weight: 300;
      line-height: 24px;
    }
  }

  .PlaceHolder {
    width: 50px;
  }
}
