@import '../../fonts';
@import '../../brand-styles';

.Society {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 107px;
  margin-left: 126px;

  .AbsoluteAnchor {
    position: relative;

    .SocietyBackground {
      z-index: 5;
      top: 109px;
      left: -40px;
      position: absolute;
      height: 430px;
      width: 431px;
      background-color: $natera-background-color;
      @include standardTransition(2s);
    }

    .SocietySideTitle {
      z-index: 6;
      position: absolute;
      top: 30%;
      right: -520px;
    }
  }
}
