@import '../../../brand-styles';

.Exhibition {
  margin: 0 10px 0 50px;
  z-index: 1;

  @media (min-width: 1200px) {
    margin: 0 10px;
  }

  .ExhibitionTitle {
    @include subtitle;
    margin-top: 39px;
    width: 343px;
  }
}
