@import '../../../fonts';
@import '../../../brand-styles';

.SummerColor {

  .ImageContainer {
    position: relative;
    @include standardTransition(1s);

    .SummerColorSocialNetworkButtons {
      position: absolute;
      right: -33px;
      top: 30%;
    }
  }

  .SummerColorInfo {
    margin-left: 135px;
    @include standardTransition(1.5s);

    .SummerColorTitle {
      margin: 36px 0 43px 0;
      width: 248px;
      @include title;
    }

    .SummerColorText {
      margin-bottom: 26px;
      width: 340px;
      @include text;
    }
  }

  .SummerColorButtonContainer {
    @include standardTransition(2s);

    .SummerColorButton {
      width: 249px;
      margin-left: 121px;
    }
  }
}
