@import '../../../fonts';
@import '../../../brand-styles';

.SummerColor {

  .ImageContainer {
    position: relative;

    .SummerColorSocialNetworkButtons {
      position: absolute;
      right: -33px;
      top: 30%;
    }
  }

  .SummerColorInfo {
    margin-left: 135px;

    .SummerColorTitle {
      margin: 36px 0 43px 0;
      width: 248px;
      text-transform: uppercase;
      font-family: $gotham-cyrillic-regular;
      color: $natera-black;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
    }

    .SummerColorText {
      margin-bottom: 26px;
      width: 340px;
      font-family: $gotham-cyrillic-regular;
      color: $natera-black;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .SummerColorButton {
    width: 249px;
    margin-left: 121px;
  }
}
