@import '../../fonts';
@import '../../brand-styles';

.Art {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;

  .ArtMasterClass {
    margin-left: 124px;
    margin-top: 248px;
    display: flex;
    justify-content: flex-start;

    .ArtMasterClassContainer {
      z-index: 1;
      @include standardTransition(2s);
    }

    .ArtSideTitleContainer {
      position: relative;
      width: 100px;

      .ArtSideTitle {
        position: absolute;
        top: 20%;
        right: -145%;
      }

      .ArtBackground {
        top: -120px;
        left: -100px;
        position: absolute;
        height: 544px;
        width: 695px;
        background-color: $natera-background-color;
        @include standardTransition(2s);
      }
    }
  }



  .PokrasExhibitionContainer {
    width: 100%;
    z-index: 1;
  }
}