@import '../../../fonts';
@import '../../../brand-styles';

.MasterClass {
  z-index: 1;

  .MasterClassImage {
    position: relative;
    z-index: 1;

    .ArtSocialNetworkButtons {
      position: absolute;
      right: -33px;
      top: 100px;
    }
  }

  .MasterClassNews {
    margin-top: 35px;
    margin-left: 94px;

    .MasterClassTitle {
      width: 556px;
      text-transform: uppercase;
      font-family: $gotham-cyrillic-regular;
      color: $natera-black;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 44px;
    }

    .MasterClassDescription {
      width: 356px;
      font-family: $gotham-cyrillic-regular;
      color: $natera-black;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
    }

    .MasterClassButtonContainer {
      margin-top: 61px;
      margin-left: -20px;
      @include standardTransition(2s);

      .MasterClassButton {
        min-width: 249px;
      }
    }
  }
}
