@import '../../../brand-styles';

.ShowBiz {
  margin: 60px 20px 0 20px;
  height: 611px;
  display: flex;
  justify-content: space-between;

  .ShowBizBackground {
    position: absolute;
    height: 621px;
    width: 1100px;
    background-color: $natera-background-color;
    @include standardTransition(2s);

    @media (min-width: 1200px) {
      width: 1326px;
    }
  }

  .EditorialChoice {
    width: 500px;
    text-align: center;
    text-transform: uppercase;
    color: $natera-black;
    font-weight: 700;
    font-size: 16px;
    z-index: 1;

    .EditorialChoiceText {
      margin-top: 70px;
      line-height: 24px;
      @include standardTransition;

      &:hover {
        color: $natera-blue;
        cursor: pointer;
      }
    }

    .EditorialChoiceMainText {
      font-size: 44px;
      text-transform: uppercase;
      color: $natera-black;
      font-weight: 700;
    }

    .EditorialChoiceMainTextFirst {
      @include subtitle;
      margin-top: 90px;
    }

    .EditorialChoiceName {
      margin-top: 20px;
      color: $natera-grey-author;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
    }

    .EditorialChoiceButton {
      margin-top: 50px;
      @include standardTransition(2s);
    }
  }

  .SingerImageContainer {
    z-index: 1;
    position: relative;
    height: 0;

    .SingerImage {
      margin-top: -50px;
    }

    .ShowBizSocialNetworkButtons {
      position: absolute;
      right: -33px;
      top: 170px;
    }
  }

  .SideTitlePlaceHolder {
    width: 160px;
    position: relative;

    .ShowBizSideTitle {
      position: absolute;
      left: -190px;
      bottom: 40%;
    }
  }
}
