@import '../../fonts';
@import '../../brand-styles';

.Footer {
  height: 380px;
  background-color: $natera-line-color;
  padding: 50px 100px 45px 100px;

  .Separator {
    height: 1px;
    width: 100%;
    background-color: $natera-separator;
    min-width: 790px;
  }

  .LinksAndSubscribe {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;

    .LinkGroup {
      margin: 0 10px;

      .LinkTitle {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 20px;
      }

      .LinkItem {
        color: $natera-white;
        font-size: 16px;
        font-family: $gotham-cyrillic-regular;
        line-height: 24px;
        @include standardTransition;

        &:hover {
          color: $natera-blue;
          cursor: pointer;
        }
      }
    }

    .Subscribe {
      .SubscribeText {
        color: $natera-white;
        font-size: 14px;
        font-family: $gotham-cyrillic-regular;
        font-weight: 700;
        line-height: 24px;
        text-transform: uppercase;
      }

      .SubscribeBtn {
        width: 235px;
        margin-top: 20px;
        background-color: $natera-white;
      }

      .SubscribeDescription {
        color: $natera-white;
        font-size: 14px;
        font-family: $gotham-cyrillic-regular;
        font-weight: 400;
        line-height: 20px;
        margin-top: 20px;
      }
    }
  }

  .ConfidentAndSocial {
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    min-width: 790px;

    .Confident {
      .ConfidentPolitics {
        text-transform: uppercase;
        font-family: $gotham-cyrillic-regular;
        line-height: 24px;
        font-weight: 700;
        font-size: 12px;
        color: $natera-white;
        margin-bottom: 14px;

        &:hover {
          color: $natera-blue;
          cursor: pointer;
        }
      }

      .ConfidentUnderText {
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
        color: $natera-confidential-color;
        font-family: $pt-sans;
      }
    }

    .Social {
      display: flex;
      justify-content: flex-end;

      .SocialIcon {
        fill: $natera-white;
        opacity: 0.75;

        &:hover {
          fill: $natera-blue;
          cursor: pointer;
        }
      }

      .InstagramIcon {
        margin-top: 4px;
        margin-left: 13px;
      }

      .FacebookIcon {
        margin-left: 10px;
        margin-right: 13px;
      }

      .ContactIcon {
        margin-top: 3px;
      }

    }
  }
}
