@import '../../../brand-styles';

.ImageGrid {
  margin: 300px 10px 0 120px;
  z-index: 1;

  .ImageGridLine {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 24px;

    .ImageContainer {
      margin: 4px;
      width: 190px;
      height: 190px;
      @include standardTransition(1s);

      .ImageText {
        @include subtitle;
        margin: 10px 0 0 5px
      }
    }
  }
}
