@import '../../../brand-styles';

.MainNews {
  z-index: 6;

  .NewsImageContainer {
    position: relative;

    .MainNewsSocialNetworkButtons {
      position: absolute;
      right: -33px;
      top: 30%;
    }
  }

  .NewsTitle {
    width: 303px;
    @include subtitle;
    margin: 29px 0 25px 0;
  }

  .NewsButton {
    width: 249px;
  }
}
