$natera-blue: #0182d4;
$natera-grey: #7b7b7b;
$natera-black: #020202;
$natera-underline-color: #585958;
$natera-background-color: #f4f4f4;
$natera-hover-border-color: #0e95dd;
$natera-grey-author: #9a9a9a;
$natera-line-color: #131313;
$natera-separator: #ababab;
$natera-white: #ffffff;
$natera-confidential-color: #757575;
$natera-image-background-color: #1e2d05;

@mixin standardTransition($duration: .3s) {
  transition-property: transform, opacity, background-color, color, fill, border-color, border, box-shadow;
  transition-duration: $duration;
  transition-timing-function: ease;
}
