@import '../../../fonts';
@import '../../../brand-styles';

.Pokras {
  z-index: 1;

  @media (min-width: 1200px) {
    margin: 0 auto 47px auto;
    width: 70%;
  }

  .PokrasTitle {
    @include subtitle;
    margin-top: 17px;
  }
}
