@import '../../../fonts';
@import '../../../brand-styles';

.Pokras {
  margin: 0 auto 47px auto;
  width: 50%;
  z-index: 1;

  .PokrasTitle {
    font-family: $gotham-cyrillic-regular;
    color: $natera-black;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 17px;
  }


}
