@import '../../../brand-styles';

.NewsGrid {
  display: flex;
  justify-content: flex-start;
  margin-left: 94px;
  margin-top: 176px;

  .NewsContainer {
    margin: 0 5px;
    @include standardTransition(.2s);

    .ImageText {
      max-width: 180px;
      color: $natera-black;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      text-transform: uppercase;
      margin-top: 34px;
    }
  }

  .FloatItem {
    margin-left: -200px;
  }

  .FirstItem {
    z-index: 4;
  }

  .SecondItem {
    z-index: 3;
  }

  .ThirdItem {
    z-index: 2;
  }

  .FourthItem {
    z-index: 1;
  }
}
